*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/certs
/app/src/main/res
app/src/main/res/values/strings.xml
app/src/main/res/values/strings.xml
*.xml
